.vs/
Cite.Accounting.Service.Resources/bin/
Cite.Accounting.Service.Resources/obj/
Cite.Accounting.Service.Web/bin/
Cite.Accounting.Service.Web/obj/
Cite.Accounting.Service/bin/
Cite.Accounting.Service/obj/
Cite.Accounting.Service.Web/logs/
Cite.Accounting.Service.Web/Cite.Accounting.Service.Web.csproj.user
Cite.Accounting.Service.Web/Properties/PublishProfiles/
Cite.Accounting.Service.WebApp/.vscode/
Cite.Accounting.Service.WebApp/dist/
Cite.Accounting.Service.WebApp/node_modules/
Cite.Accounting.Service.WebApp/.angular/
