<div class="auto-complete">
	<input matInput #autocompleteInput class="input-field" [name]="id" autocomplete="off" #autocompleteTrigger="matAutocompleteTrigger" [placeholder]="placeholder" [matAutocomplete]="autocomplete" [value]="_inputValue" (keyup)="onKeyUp($event)" [disabled]="disabled" (focus)="_onInputFocus()" (blur)="onBlur($event)">
	<mat-icon *ngIf="!disabled" (click)="_onArrowClickedFocus()" class="align-arrow-right" matSuffix>keyboard_arrow_down</mat-icon>
	<mat-progress-spinner class="progress-loader" mode="indeterminate" [class.not-loading]="!loading" [diameter]="17"></mat-progress-spinner>
	<mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="_displayFn.bind(this)" (optionSelected)="_optionSelected($event)">
		<span *ngIf="_groupedItems">
			<mat-optgroup *ngFor="let group of _groupedItems | async" [label]="group.title">
				<mat-option *ngFor="let item of group.items" [value]="item" [class.two-line-mat-option]="_subtitleFn(item) && !_optionTemplate(item)">
					<!-- <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" /> -->
					<ng-template #cellTemplate *ngIf="_optionTemplate(item)" [ngTemplateOutlet]="_optionTemplate(item)" [ngTemplateOutletContext]="{
							item: item
						}"></ng-template>
					<div *ngIf="!_optionTemplate(item)">
						<span>{{_titleFn(item)}}</span>
						<br *ngIf="_subtitleFn(item)">
						<small *ngIf="_subtitleFn(item)">{{_subtitleFn(item)}}</small>
					</div>
				</mat-option>
			</mat-optgroup>
		</span>
		<span *ngIf="!_groupedItems">
			<mat-option *ngFor="let item of _items | async" [value]="item" [class.two-line-mat-option]="_subtitleFn(item) && !_optionTemplate(item)">
				<!-- <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" /> -->
				<ng-template #cellTemplate *ngIf="_optionTemplate(item)" [ngTemplateOutlet]="_optionTemplate(item)" [ngTemplateOutletContext]="{
							item: item
						}"></ng-template>
				<div *ngIf="!_optionTemplate(item)">
					<span *ngIf="!_optionTemplate(item)">{{_titleFn(item)}}</span>
					<br *ngIf="_subtitleFn(item)">
					<small *ngIf="_subtitleFn(item)">{{_subtitleFn(item)}}</small>
				</div>
			</mat-option>
		</span>
	</mat-autocomplete>
</div>
