
<div class="row multiple-auto-complete">
	<div class="col pl-0">
		<div class="row">
			<div class="col-12">
				<mat-chip-grid #chipList ngDefaultControl class="chip-list">
						<mat-chip-row *ngFor="let value of _chipItems()" class="chip-row" [disabled]="disabled" [selectable]="selectable" [removable]="removable" (removed)="_removeSelectedItem(value)">
							<ng-template #cellTemplate *ngIf="_selectedValueTemplate(value)" [ngTemplateOutlet]="_selectedValueTemplate(value)" [ngTemplateOutletContext]="{item: value}" />
								<span *ngIf="!_selectedValueTemplate(value)" class="chip-text" [title]="_displayFn(value)">{{_displayFn(value)}}</span>
							<button matChipRemove *ngIf="!disabled && removable" (click)="_removeSelectedItem(value)">
								<mat-icon>cancel</mat-icon>
							</button>
						</mat-chip-row>
				</mat-chip-grid>
			</div>
	
			<div class="col-12">
				<input matInput #textInput autocomplete="off" 
					[placeholder]="placeholder"
					[matAutocomplete]="auto"
					[ngModel]="_inputValue" 
					[matChipInputFor]="chipList" 
					[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					[matChipInputAddOnBlur]="addOnBlur" 
					(ngModelChange)="_inputValueChange($event)" 
					(focus)="_onInputFocus()"
					(matChipInputTokenEnd)="_addItem($event)" 
					(click)="_onInputClick($event)" 
					/>
			</div>
			<div class="col-12"><mat-progress-spinner mode="indeterminate" [class.not-loading]="!loading" [diameter]="22"></mat-progress-spinner></div>
			<div class="col-12">
				<mat-autocomplete #auto="matAutocomplete" [displayWith]="_displayFn.bind(this)"
					(optionSelected)="_optionSelected($event)">
					<span *ngIf="_groupedItems">
						<mat-optgroup *ngFor="let group of _groupedItems | async" [label]="group.title">
							<mat-option *ngFor="let item of group.items" [value]="item"
								[class.two-line-mat-option]="_subtitleFn(item) && !_optionTemplate(item)">
								<ng-template #cellTemplate *ngIf="_optionTemplate(item)" [ngTemplateOutlet]="_optionTemplate(item)" [ngTemplateOutletContext]="{
															item: item
														}"></ng-template>
								<div *ngIf="!_optionTemplate(item)">
									<span>{{_titleFn(item)}}</span>
									<br *ngIf="_subtitleFn(item)">
									<small *ngIf="_subtitleFn(item)">{{_subtitleFn(item)}}</small>
								</div>

							</mat-option>
						</mat-optgroup>
					</span>
					<span *ngIf="!_groupedItems">
						<mat-option *ngFor="let item of _items | async" [value]="item"
							[class.two-line-mat-option]="_subtitleFn(item) && !_optionTemplate(item)">
							<ng-template #cellTemplate *ngIf="_optionTemplate(item)" [ngTemplateOutlet]="_optionTemplate(item)" [ngTemplateOutletContext]="{
																			item: item
																		}"></ng-template>
							<div *ngIf="!_optionTemplate(item)">
								<span>{{_titleFn(item)}}</span>
								<br *ngIf="_subtitleFn(item)">
								<small *ngIf="_subtitleFn(item)">{{_subtitleFn(item)}}</small>
							</div>
						</mat-option>
					</span>
				</mat-autocomplete>
			</div>
		</div>
	</div>

	<div class="col-auto d-flex align-items-center"><mat-icon (click)="_onArrowClickedFocus($event)" class="align-arrow-right" matSuffix>keyboard_arrow_down</mat-icon></div>

</div>