<div *ngIf="formGroup" class="row service-management-editor">
	<div  *ngIf="!isNew" class="col-md-8 offset-md-2">
		<h3>{{formGroup.get('service')?.value?.name}}</h3>
		<mat-card>
			<mat-card-title>{{'APP.SERVICE-MANAGEMENT-EDITOR.TITLE.MANAGE' | translate}} </mat-card-title>
			<mat-card-content>
				<div class="row">
					<div class="col-auto">{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.LAST-SYNC-AT' | translate}}:
						{{formGroup.get('serviceSync').value?.lastSyncAt | date: 'short' }}</div>
				</div>
				<div class="row">
					<div class="col-auto">{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.LAST-SYNC-ENTRY-TIMESTAMP-AT' | translate}}:
						{{formGroup.get('serviceSync').value?.lastSyncEntryTimestamp | date: 'short' }}</div>
				</div>
				<div class="row editor-actions">
					<div class="col"></div>
					<div class="col-auto" *ngIf="this.editorModel.canCleanUp"><button mat-raised-button color="primary" type="button" (click)="clenUp()">{{'APP.SERVICE-MANAGEMENT-EDITOR.ACTIONS.CLEANUP' | translate}}</button></div>
					<div class="col-auto" *ngIf="this.editorModel.canSync"><button mat-raised-button color="primary" type="button" (click)="syncNow()">{{'APP.SERVICE-MANAGEMENT-EDITOR.ACTIONS.SYNC-NOW' | translate}}</button></div>
					<div class="col-auto"><button mat-raised-button color="primary" (click)="cancel()" type="button">{{'APP.EDITOR-ACTIONS.BACK' | translate}}</button></div>
				</div>
			</mat-card-content>
		</mat-card>
		<mat-card *ngIf="this.editorModel.canAddDummyAccountingEntry">
			<mat-card-title>{{'APP.SERVICE-MANAGEMENT-EDITOR.TITLE.CREATE-DUMMY-DATA' | translate}} </mat-card-title>
			<mat-card-content>
				<form  (ngSubmit)="formSubmit()" [formGroup]="formGroup">
					<div >
						<div class="row">
							<mat-form-field class="col-md-4">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.COUNT' | translate}}</mat-label>
								<input matInput type="number" [min]="0" name="service-management-count" formControlName="count" required>
								<mat-error *ngIf="formGroup.get('count').hasError('backendError')">{{formGroup.get('count').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('count').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
							<mat-form-field class="col-md-4">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.MY-COUNT' | translate}}</mat-label>
								<input matInput type="number" [min]="0" name="service-management-my-count" formControlName="myCount" required>
								<mat-error *ngIf="formGroup.get('myCount').hasError('backendError')">{{formGroup.get('myCount').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('myCount').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
							<mat-form-field class="col-md-4">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.MEASURE' | translate}}</mat-label>
								<mat-select name="user-role-measure" [formControl]="formGroup.get('measure')" required>
									<mat-option *ngFor="let measureType of measureTypeValues" [value]="measureType">{{enumUtils.toMeasureTypeString(measureType)}}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="formGroup.get('measure').hasError('backendError')">{{formGroup.get('measure').getError('backendError').message}}</mat-error>
								<mat-error *ngIf="formGroup.get('measure').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
						</div>
						<div class="row">
							<mat-form-field class="col-md-6">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.FROM' | translate}}</mat-label>
								<input matInput [matDatepicker]="fromDatePicker" type="text" name="from" autocomplete="off" formControlName="from">
								<mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
								<mat-datepicker #fromDatePicker></mat-datepicker>
								<mat-error *ngIf="formGroup.get('from').hasError('backendError')">{{formGroup.get('from').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('from').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
							<mat-form-field class="col-md-6">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.TO' | translate}}</mat-label>
								<input matInput [matDatepicker]="toDatePicker" type="text" name="service-management-to" autocomplete="off" formControlName="to">
								<mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
								<mat-datepicker #toDatePicker></mat-datepicker>
								<mat-error *ngIf="formGroup.get('to').hasError('backendError')">{{formGroup.get('from').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('to').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
						</div>
						<div class="row">
							<mat-form-field class="col-md-6">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.MIN-VALUE' | translate}}</mat-label>
								<input matInput type="number" [step]="0.001" [min]="0" name="service-management-min-value" formControlName="minValue" required>
								<mat-error *ngIf="formGroup.get('minValue').hasError('backendError')">{{formGroup.get('minValue').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('minValue').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
							<mat-form-field class="col-md-6">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.MAX-VALUE' | translate}}</mat-label>
								<input matInput type="number" [step]="0.001" [min]="0" name="service-management-max-value" formControlName="maxValue" required>
								<mat-error *ngIf="formGroup.get('maxValue').hasError('backendError')">{{formGroup.get('maxValue').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('maxValue').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
						</div>
						<div class="row">
							<mat-form-field class="col-md-6">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.RESOURCE-CODE-PREFIX' | translate}}</mat-label>
								<input matInput type="text" name="service-management-resource-code-prefix" formControlName="resourceCodePrefix" required>
								<mat-error *ngIf="formGroup.get('resourceCodePrefix').hasError('backendError')">{{formGroup.get('resourceCodePrefix').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('resourceCodePrefix').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
							<mat-form-field class="col-md-6">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.RESOURCE-MAX-VALUE' | translate}}</mat-label>
								<input matInput type="number" [min]="0" name="service-management-resource-max-value" formControlName="resourceMaxValue" required>
								<mat-error *ngIf="formGroup.get('resourceMaxValue').hasError('backendError')">{{formGroup.get('resourceMaxValue').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('resourceMaxValue').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
						</div>
						<div class="row">
							<mat-form-field class="col-md-6">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.ACTION-CODE-PREFIX' | translate}}</mat-label>
								<input matInput type="text" name="service-management-action-code-prefix" formControlName="actionCodePrefix" required>
								<mat-error *ngIf="formGroup.get('actionCodePrefix').hasError('backendError')">{{formGroup.get('actionCodePrefix').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('actionCodePrefix').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
							<mat-form-field class="col-md-6">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.ACTION-MAX-VALUE' | translate}}</mat-label>
								<input matInput type="number" [min]="0" name="service-management-action-max-value" formControlName="actionMaxValue" required>
								<mat-error *ngIf="formGroup.get('actionMaxValue').hasError('backendError')">{{formGroup.get('actionMaxValue').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('actionMaxValue').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
						</div>
						<div class="row">
							<mat-form-field class="col-md-6">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.USER-ID-PREFIX' | translate}}</mat-label>
								<input matInput type="text" name="service-management-user-id-prefix" formControlName="userIdPrefix" required>
								<mat-error *ngIf="formGroup.get('userIdPrefix').hasError('backendError')">{{formGroup.get('userIdPrefix').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('userIdPrefix').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
							<mat-form-field class="col-md-6">
								<mat-label>{{'APP.SERVICE-MANAGEMENT-EDITOR.FIELDS.USER-MAX-VALUE' | translate}}</mat-label>
								<input matInput type="number" [min]="0" name="service-management-user-max-value" formControlName="userMaxValue" required>
								<mat-error *ngIf="formGroup.get('userMaxValue').hasError('backendError')">{{formGroup.get('userMaxValue').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('userMaxValue').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
						</div>
						<div class="row editor-actions">
							<div class="col"></div>
							<div class="col-auto" *ngIf="this.editorModel.canAddDummyAccountingEntry"><button mat-raised-button color="primary" (click)="save()" type="submit">{{'APP.SERVICE-MANAGEMENT-EDITOR.ACTIONS.CREATE-DUMMY-DATA' | translate}}</button></div>
							<div class="col-auto"><button mat-raised-button color="primary" (click)="cancel()" type="button">{{'APP.EDITOR-ACTIONS.BACK' | translate}}</button></div>
						</div>
					</div>
				</form>
			</mat-card-content>
		</mat-card>

	</div>
</div>
