<div class="container-fluid">
	<div *ngIf="formGroup" class="row">
		<div class="col-md-8 offset-md-2">
			<div class="row pt-4 pb-2">
				<div class="col"><app-navigation-breadcrumb></app-navigation-breadcrumb></div>
			</div>

			<mat-card class="mt-4 pt-2">
				<mat-card-content>
					<form (ngSubmit)="formSubmit()" [formGroup]="formGroup">
						<div class="row">
							<mat-form-field class="col-md-4">
								<mat-label>{{'APP.SERVICE-EDITOR.FIELDS.NAME' | translate}}</mat-label>
								<input matInput type="text" name="service-name" formControlName="name" required>
								<mat-error *ngIf="formGroup.get('name').hasError('backendError')">{{formGroup.get('name').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('name').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
							<mat-form-field class="col-md-4">
								<mat-label>{{'APP.SERVICE-EDITOR.FIELDS.CODE' | translate}}</mat-label>
								<input matInput type="text" name="service-code" formControlName="code" required>
								<mat-error *ngIf="formGroup.get('code').hasError('backendError')">{{formGroup.get('code').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('code').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
							<mat-form-field class="col-md-4">
								<mat-label>{{'APP.SERVICE-EDITOR.FIELDS.DESCRIPTION' | translate}}</mat-label>
								<input matInput type="text" name="service-description" formControlName="description">
								<mat-error *ngIf="formGroup.get('description').hasError('backendError')">{{formGroup.get('description').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('description').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
							<mat-form-field class="col-md-4">
								<app-single-auto-complete placeholder="{{'APP.SERVICE-EDITOR.FIELDS.PARENT' | translate}}" formControlName="parent" [configuration]="singleServiceAutocompleteConfiguration">
								</app-single-auto-complete>
								<mat-error *ngIf="formGroup.get('parent').hasError('backendError')">{{formGroup.get('parent').getError('backendError')?.message}}</mat-error>
								<mat-error *ngIf="formGroup.get('parent').hasError('required')">{{'COMMONS.VALIDATION.REQUIRED' | translate}}</mat-error>
							</mat-form-field>
						</div>
						<div class="row" *ngIf="!isNew" class="row">
							<div class="col-auto">{{'APP.SERVICE-EDITOR.FIELDS.LAST-SYNC-AT' | translate}}: {{formGroup.get('serviceSync').value?.lastSyncAt | date: 'short' }}</div>
						</div>
						<div class="row" *ngIf="!isNew" class="row">
							<div class="col-auto">{{'APP.SERVICE-EDITOR.FIELDS.LAST-SYNC-ENTRY-TIMESTAMP-AT' | translate}}: {{formGroup.get('serviceSync').value?.lastSyncEntryTimestamp | date: 'short' }}</div>
						</div>

						<app-editor-actions-component [canDelete]="editorModel.canDelete && !isDeleted && !isNew" [canSave]="editorModel.canEdit && !isDeleted" (onDelete)="delete()" (onCancel)="cancel()" (onSave)="save()"></app-editor-actions-component>
					</form>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>